{
  "mysql": {
    "host":"",
    "user":"",
    "password":"",
    "db":"",
    "port":3306
  },
  "user": {
    "email":"",
    "name":"",
    "projects": ["a", "b", "c"],
    "doc_folder": "/Users/"
  },
  "smtp": {
    "server":"",
    "server_port":587,
    "password":""
  },
  "forms": {
    "leave": {
      "title": ""
    }
  }
}
